<div ng-include="'components/navbar/navbar.html'"></div>
<header class="hero-unit" id="banner">
</header>
<div class="container">
    <div class="row">
        <!--<div ng-repeat="class in sortedClasses">
            <div>{{class.name}}</div>
        </div>-->
        <div class="col-md-6">
            <h1>Current Team</h1>
            <h2>Tanks</h2>
            <h2>Healers</h2>
            <h2>Ranged Dps</h2>
            <h2>Melee Dps</h2>
        </div>
        <div class="col-md-6">
            <h1>Available Players {{level100Member.length}}</h1>
            <h2>Tanks {{allTanks.length}}</h2>
            <div class="row" ng-repeat="rows in teamTanks">

                <div style="text-transform:capitalize;" class="col-md-3" ng-repeat="row in rows">
                    <!--{{row. | json}}-->
                    <!---->
                    <button class="btn btn-info" ng-click="addCharacter(row.character)">
                        <img ng-src="http://media.blizzard.com/wow/icons/18/class_{{row.character.class}}.jpg" width="20" height="20"> {{row.character.className}}<br/>
                    <b>{{row.character.name}}</b><br/>
                    Level {{row.character.level}} <br/>
                    {{row.character.spec.name}} <br />
                    <!--Add to Raid Team-->
                    </button>
                    <br />
                    <br />
                </div>

            </div>
            <h2>Healers {{allHealers.length}}</h2>
            <div class="row" ng-repeat="rows in teamHealers">

                <div style="text-transform:capitalize;" class="col-md-3" ng-repeat="row in rows">
                    <!--{{row. | json}}-->
                    <!---->
                    <button class="btn btn-info" ng-click="addCharacter(row.character)">
                        <img ng-src="http://media.blizzard.com/wow/icons/18/class_{{row.character.class}}.jpg" width="20" height="20"> {{row.character.className}}<br/>
                    <b>{{row.character.name}}</b><br/>
                    Level {{row.character.level}} <br/>
                    {{row.character.spec.name}} <br />
                    <!--Add to Raid Team-->
                    </button>
                    <br />
                    <br />
                </div>

            </div>
            <h2>Ranged Dps {{allRangedDps.length}}</h2>
            <div class="row" ng-repeat="rows in teamRangedDps">

                <div style="text-transform:capitalize;" class="col-md-3" ng-repeat="row in rows">
                    <!--{{row. | json}}-->
                    <!---->
                    <button class="btn btn-info" ng-click="addCharacter(row.character)">
                        <img ng-src="http://media.blizzard.com/wow/icons/18/class_{{row.character.class}}.jpg" width="20" height="20"> {{row.character.className}}<br/>
                    <b>{{row.character.name}}</b><br/>
                    Level {{row.character.level}} <br/>
                    {{row.character.spec.name}} <br />
                    <!--Add to Raid Team-->
                    </button>
                    <br />
                    <br />
                </div>

            </div>
            <h2>Melee Dps {{allMeleeDps.length}}</h2>
            <div class="row" ng-repeat="rows in teamMeleeDps">

                <div style="text-transform:capitalize;" class="col-md-3" ng-repeat="row in rows">
                    <!--{{row. | json}}-->
                    <!---->
                    <button class="btn btn-info" ng-click="addCharacter(row.character)">
                        <img ng-src="http://media.blizzard.com/wow/icons/18/class_{{row.character.class}}.jpg" width="20" height="20"> {{row.character.className}}<br/>
                    <b>{{row.character.name}}</b><br/>
                    Level {{row.character.level}} <br/>
                    {{row.character.spec.name}} <br />
                    <!--Add to Raid Team-->
                    </button>
                    <br />
                    <br />
                </div>

            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container">
    </div>
</footer>