<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  
</header>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>WoW Guild Members</h1>
            <h2>Tanks</h2>
            <!--{{guildTanks | json}}-->
            <div class="row" ng-repeat="rows in guildTanks">

                <div style="text-transform:capitalize;" class="col-md-3" ng-repeat="row in rows">
                    <!--{{row. | json}}-->
                    <!---->
                    <button class="btn btn-info" ng-click="showCharacter(row.character.name)">
                        <img ng-src="http://media.blizzard.com/wow/icons/18/class_{{row.character.class}}.jpg" width="14" height="14"> {{row.character.className}}<br/>
                    <b>{{row.character.name}}</b><br/>
                    Level {{row.character.level}} <br/>
                    {{row.character.spec.name}} <br />
                    <!--Add to Raid Team-->
                    </button>
                    <br />
                    <br />
                </div>

            </div>
            <h2>Healers</h2>
            <div class="row" ng-repeat="rows in healers">
                <!--{{row | json}}-->
                <div style="text-transform:capitalize;" class="col-md-3" ng-repeat="row in rows">
                  <button class="btn btn-info" ng-click="showCharacter(row.character.name)">
                        <img ng-src="http://media.blizzard.com/wow/icons/18/class_{{row.character.class}}.jpg" width="14" height="14"> {{row.character.className}}<br/>
                    <b>{{row.character.name}}</b><br/>
                    Level {{row.character.level}} <br/>
                    {{row.character.spec.name}} <br />
                    <!--Add to Raid Team-->
                    </button>
                    <br />
                    <br />
                </div>
            </div>
            <h2>DPS</h2>
            <div class="row" ng-repeat="rows in dps">
                <!--{{row | json}}-->
                <div style="text-transform:capitalize;" class="col-md-3" ng-repeat="row in rows">
                  <button class=" btn btn-info" ng-click="showCharacter(row.character.name)">
                        <img ng-src="http://media.blizzard.com/wow/icons/18/class_{{row.character.class}}.jpg" width="14" height="14"> {{row.character.className}}<br/>
                    <b>{{row.character.name}}</b><br/>
                    Level {{row.character.level}} <br/>
                    {{row.character.spec.name}} <br />
                    <!--Add to Raid Team-->
                    </button>
                    <br />
                    <br />
                </div>
            </div>
            <h2>All</h2>
            <div class="row" ng-repeat="rows in all100">
                <!--{{row | json}}-->
                <div style="text-transform:capitalize;" class="col-md-3" ng-repeat="row in rows">
                   <button class="btn btn-default" ng-click="showCharacter(row.character.name)">
                        <img ng-src="http://media.blizzard.com/wow/icons/18/class_{{row.character.class}}.jpg" width="14" height="14"> {{row.character.className}}<br/>
                    <b>{{row.character.name}}</b><br/>
                    Level {{row.character.level}} <br/>
                    {{row.character.spec.name}} <br />
                    <!--Add to Raid Team-->
                    </button>
                    <br />
                    <br />
                </div>
            </div>
        </div>
        <!-- Raid Team -->
        <div class="col-md-5 ">
            <h1>Character Information</h1>
            <!--{{selectedToon |json}}-->
            <b>Name:</b> {{selectedToon.name}}<br/>
            <!--Class: {{selectedToon.class}}<br/>-->
            <b>Last Updated:</b> {{selectedToon.lastModified | date:'yyyy-MM-dd HH:mm:ss Z'}}<br/>
            <b>Item Level:</b> {{selectedToon.items.averageItemLevel}} <b>Equiped:</b> {{selectedToon.items.averageItemLevelEquipped}}<br />
            <h3>Boss Kills this reset:</h3> 
            <h4> Start:{{currentReset.start | date:'yyyy-MM-dd'}} <br/> 
            End: {{currentReset.end | date:'yyyy-MM-dd'}})</h4>
            <!-- Get the raid kills for the toon from the feed.-->
            <div ng-repeat="item in selectedFeed">
                <!--{{item |json}}-->
                <b>Name:</b>{{item.achievement.title}}<br/>
                <b>Killed @</b> {{item.timestamp | date:'yyyy-MM-dd HH:mm:ss Z'}}<br />
            </div>
            <!--<h2>Tanks</h2>
            
            <h2>Healers</h2>
            
            <h2>DPS</h2>-->
            
        </div>
    </div>
</div>


<footer class="footer">
    <div class="container">
        <!--<p>Angular Fullstack v2.1.1 |
      <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
      <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>-->
    </div>
</footer>